<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.local.social.network"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:debuggable="true"
        android:icon="@drawable/ic_launcher_msp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.PeopleActivity"
            android:label="@string/peopleLabel"
            android:launchMode="singleTask" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/chatLabel" />
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/settingsLabel" />
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/eventsLabel"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.NewEventActivity"
            android:label="@string/newEventLabel" />
        <activity
            android:name=".activities.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />      
        <activity
            android:name=".btservice.BTActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <service android:name=".btservice.BluetoothChatService" >
        </service>

        <receiver android:name=".btservice.BroadCastReceiverDevices" >
        </receiver>

        <service android:name=".btservice.BTService" >
        </service>
    </application>

</manifest>